.iconPage{
    display: flex;
    justify-content: center;

    margin: 30px 30px;
}
.iconOne{
    margin-right: 15px;
}
.transferOne{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 40px;
    
}
.transferOne_title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}